	/*----------Base Font-Size 16px--------*/


/* @import url('font-awesome.min.css'); */

@font-face {
	font-family: 'captura-black';
	src: url('../fonts/Captura-Black.ttf') format("opentype");
	
}
@font-face {
	font-family: 'captura-bold';
	src: url('../fonts/Captura-Bold.ttf') format("opentype");
	
}
@font-face {
	font-family: 'captura-regular';
	src: url('../fonts/Captura-Regular.ttf') format("opentype");
	
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/Brandon_reg.otf') format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/Brandon_bld.otf') format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/Brandon_med.ttf') format("opentype");
	font-weight: 500;
}

@-webkit-keyframes shapeani1 {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-moz-keyframes shapeani1 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@-o-keyframes shapeani1 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes shapeani1 {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes shapeani2 {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-moz-keyframes shapeani2 {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-20px);
	}
	100% {
		transform: translateX(0px);
	}
}

@-o-keyframes shapeani2 {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-20px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes shapeani2 {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-webkit-keyframes shapeimg {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes shapeimg {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes shapeimg {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes shapeimg {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
.cat_btn {
    display: none;
}
body {
	font-family: 'captura-regular', sans-serif !important;
	margin: 0;
	font-size: 14px;
	color: #7e8085;
	font-weight: 400;
}
body,
html {
	min-width: 100%;
	min-height: 100%;
	overflow: auto!important;
}
.dis-grid .item-feature p {
    font-family: 'captura-regular' !important;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    color: #424242;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

 ::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #ddd;
	border-radius: 10px;
}

 ::selection {
	background-color: #004482;
	color: #fff;
}

-webkit-::selection {
	background-color: #004482;
	color: #fff;
}

 ::-moz-selection {
	background-color: #004482;
	color: #fff;
}

/* Typography */

h1,
.h1 {
	font-weight: 600;
	font-size: 3.428rem;
	line-height: 1.5;
	font-weight: 600;
	color: #575962;
	letter-spacing: -0.025em;
	margin: 0.5em 0;
	font-family: 'captura-black', sans-serif !important;
}

h2,
.h2 {
	font-weight: 400;
	font-size: 2.571rem;
	line-height: 1.5;
	color: #575962;
	letter-spacing: 0;
	margin: 2.6rem 0;
	font-family: 'captura-bold', sans-serif !important;
}

h3,
.h3 {
	font-weight: 400;
	font-size: 2.142rem;
	line-height: 1.5;
	letter-spacing: -0.05em;
	color: #575962;
	margin: 2.6rem 0;
	font-family: 'captura-bold', sans-serif !important;
}

h4,
.h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0;
	color: #575962;
	margin: 2.6rem 0;
	font-family: 'captura-bold', sans-serif !important;
}

h5,
.h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0;
	color: #575962;
	margin: 2.6rem 0;
	font-family: 'captura-regular', sans-serif !important;
}

h6,
.h6 {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0;
	color: #575962;
	margin: 2.6rem 0;
	font-family: 'captura-regular', sans-serif !important;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
	color: inherit;
	font-family: 'Brandon', sans-serif !important;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover {
	text-decoration: none;
	font-family: 'Brandon', sans-serif !important;
}

strong {
	font-weight: 500;
	font-family: 'Brandon', sans-serif !important;
}

p {
	color: #575962;
	font-size: 16px;
	line-height: 1.5;
}

header .dropdown-toggle,
.dropdown-menu a {
	color: #575962;
}

header .dropdown-menu {
	position: absolute;
	top: 70%;
	left: -15%;
	padding: 10px 20px;
	min-width: 12rem;
}

header .dropdown-menu li {
	margin: 10px 5px;
}

header .menu-item {
	padding: 0px 20px;
}


.banner-heading {
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.heading hr {
	height: 5px;
	border: none;
	background: #194680;
	width: 50px;
	margin: 20px 0px 10px 0px;
}

/* show Carousel item show */
.carousel_sec{
	max-height: 100vh !important;
	min-height:400px;
}
.banner-section{
	position: relative;
}
.main_show_item{
	position: absolute;
	top: 40%;
	left: 40%;
}
.main_show_item h3{
color: #194680;
}
.owl_im img{
	width: 100%;
	height: 730px;
}
.main_show{
	position:relative;
	left: 80%;
	top:10%;
}
.show_item{
	max-width: 18rem;
	height:37rem;
	background-color:#FFFFFF !important;
	box-shadow: -5px -8px 5px rgba(21, 29, 92, 0.19) !important;
	/* flex-direction: column; */
	z-index: 1;
	border-radius: 1rem 1rem 0 0;
	padding: 0.5rem;
}
.show_item img{
width:16rem;
height: 16rem;

}

/* End Caurousel item show */

.form-control:focus {
	box-shadow: none;
	border-color: #ced4da;
}

.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-16 {
	font-size: 16px !important;
}

.relative {
	position: relative;
}

.dis-none {
	display: none;
}

.dis-blk {
	display: block;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.dis-end {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.dis-ver-center {
	display: flex;
	align-items: center;
}

.dis-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dis-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.dis-flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* flex-direction: column; */
}

.dis-flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* flex-direction: column; */
}

.dis-space-btw {		
	display: flex;		
	align-items: center;		
	justify-content: space-between;		
	flex-direction: row;		
}

.dis-space-btw {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.dis-row {
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.dis-reverse {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-flow: row-reverse;
}

.dis-reverse-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-flow: row-reverse;
}

.word-wrap {
	word-wrap: break-word;
}


/* Word Wrap (Ends with Dot...) */

.word-nowrap {
	display: inline-block;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}


/* Word Wrap (Ends with two lines after Dot...) */

.word-breakwrap {
	overflow: hidden !important;
	text-overflow: ellipsis;
	width: 100%;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 0 auto;
}

.b-0 {
	border: none !important;
}

/*.row {
	margin: 0;
}*/


/* Servises illustration section */
.feate_img img{
	position: relative;
	left:-15%;
	top:20%;
	width:100%;
	max-height: auto;
}
.featimg img{
	width: 60px;
	height: 60px;
	margin-right: 1rem;
}
.feate_row{
	background-color:#194680;
	padding: 1rem;
	/* margin-bottom: 5rem; */
}
.col_content h4{
	font-size:1.2rem !important;

}
.col_content h4 , p{
	color:#FFFFFF !important;
}


/* End of services illustration section */




li {
	list-style-type: none;
}

ul {
	padding: 0;
}

.btn {
	color: #fff !important;
	letter-spacing: 0.025em !important;
	font-size: 14px !important;
	display: inline-block !important;
	border: 0 !important;
	border-radius: 4px !important;
	text-transform: capitalize !important;
	text-decoration: none !important;
	-webkit-transition: all .3s ease-out!important;
	transition: all .3s ease-out!important;
	padding: 10px 20px !important;
	height: inherit !important;
	/* min-width: 185px; */
}
a.btn.btn-green.go_app {
    font-size: 14px !important;
    border-radius: 5px !important;
}
.user-login-user a.btn-green-secondary {
    font-size: 14px !important;
        border-radius: 15px !important;
}

.btn-green-secondary {
	color: #194680 ;
	letter-spacing: 0.025em !important;
	font-size: 14px !important;
	display: inline-block !important;
	border: 1px solid #194680 !important;
	border-radius: 4px !important;
	text-transform: capitalize !important;
	text-decoration: none !important;
	-webkit-transition: all .3s ease-out!important;
	transition: all .3s ease-out!important;
	padding: 10px 20px !important;
	height: inherit !important;
	/* min-width: 185px; */
}
.big-btn {
	padding: 5px;
	min-width: 160px;
	margin-top: 5px;
	background: transparent;
	border: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #fff !important;

}
.btn .btn-lg .big-btn:hover{
background-color: transparent !important;
}
.big-btn .btn-text {
	/* margin-top: 6px; */
	text-align: left;
	line-height: 13px;
}
.big-btn small {
    font-size: 17px;
    color: #FFF;
}
.big-btn strong {
    font-size: 25px;
    position: relative;
    top: 15px;
    font-family: 'Brandon', sans-serif !important;
}

.btn-secondary {
	background-color: #004482 !important;
 box-shadow: 0px 5px 10px 2px rgba(100,64,0,0.19) !important; 
}

.btn-green2 {
	background-color: #82b21c !important;
}

.btn-dark {
	background-color: #0d1b64 !important;
	box-shadow: 0px 5px 10px 2px rgba(100, 64, 0, 0.19) !important;
}

.btn-default {
	background-color: #8794a8 !important;
}

.btn-green {
	background-color: #194680 !important;
}

.btn-red {
	background-color: #ED5252 !important;
}

.btn-primary {
	background-color: #004482 !important;
	border-color: #004482 !important;
}

.btn-yellow {
	background-color: #FFBE0B !important;
	border-color: #FFBE0B !important;
}

.btn-yellow-sec {
	color: #FFBE0B !important;
	border: 1px solid #FFBE0B !important;
}

.btn-blue {
	background-color: #36A5EA !important;
	border-color: #36A5EA !important;
}

.btn-blue-sec {
	color: #36A5EA !important;
	border: 1px solid #36A5EA !important;
}


/* .btn-green:hover {
	background-color: #2ca189 !important;
} */

.btn-primary:hover {
	box-shadow: 0px 2px 10px 2px rgba(21, 29, 92, 0.19) !important;
}

.btn:hover,
.btn:focus {
	background-color: #ffffff !important; 
	color: #004482 !important; 
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none!important;
	box-shadow:  2px 5px 2px rgba(21, 29, 92, 0.19) !important;

}

.btn-secondary:hover {
	/* background-color: #c47d00 !important; */
}

.btn:hover i {
	transform: translateX(0.25rem);
	-webkit-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.c-pointer {
	cursor: pointer;
}

.opacity-05 {
	opacity: .5;
}

.z-index-1 {
	z-index: -1;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.brand-bg {
	background-color: #364bea;
}

.txt-yellow {
	color: #02bcc5;
}

.txt-white {
	color: #fff !important;
}

.txt-green {
	color: #194680 !important;
}

.txt-red {
	color: #FB5607;
}

.txt-color1 {
	color: #7e8085;
}

.txt-color2 {
	color: #575962;
}

.txt-blue {
	color: #36A5EA !important;
}

.txt-primary {
	color: #004482 !important;
}

.txt-secondary {
	color: #004482;
}

.help-block {
	color: #FB5607;
}

.bg-none {
	background: none !important;
}

.bg-white {
	background-color: #fff !important;
}

.bg-red {
	background-color: #e53935!important
}

.bg-body {
	background-color: #f4f4fb;
}

.bg-green {
	background-color: #194680;
}


.bg-lit-green {
	background-color: rgba(31, 188, 196, .75);
}

.bg-lit-primary {
	background-color: rgba(57, 67, 183, .75);
}

.bg-lit-yellow {
	background-color: rgba(255, 190, 11, .75);
}

.bg-lit-red {
	background-color: rgba(251, 86, 7, .75);
}

.bg-lit-blue {
	background-color: rgba(54, 165, 234, .75);
}

.bor-top {
	border-top: 1px solid #ddd;
}

.bor-right {
	border-right: 1px solid #ddd;
}

.bor-bottom {
	border-bottom: 1px solid #f4f4f4;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-150 {
	margin-top: 120px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.p-20 {
	padding: 20px !important
}

.w-140 {
	width: 140%;
}

.min-23vh {
	min-height: 23vh;
}

.min-50vw {
	min-width: 50vw;
	;
}

.min-46vh {
	min-height: 46vh;
}

.min-70vw {
	min-width: 70vw;
	;
}

.height20vh {
	height: 20vh;
	overflow: scroll;
}

.height25vh {
	height: 25vh;
	overflow: scroll;
}

.height30vh {
	height: 30vh;
	overflow: scroll;
}

.height50vh {
	height: 50vh;
	overflow: scroll;
}

.height60vh {
	height: 60vh;
	overflow: scroll;
}

.height70vh {
	height: 70vh;
	overflow: scroll;
}

.space {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.heading h1 {
    z-index: 1;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.02em;
    line-height: 91.2px;
    color: #424242;
    text-transform: capitalize;
}

.heading h1 span{
	
	font-weight: 400;
	color: #194680;
}

.boxed .container,
.boxed .container-fluid {
	padding: 0;
	max-width: 100%;
}

.w-30 {
	width: 30%;
}

.notify {
	position: relative;
}

/* .notify i {
	color: #004482;
} */

.notify .count {
	background: #6d77ec;
	border-radius: 100%;
	padding: 3px 9px;
	color: #fff !important;
	font-size: 12px !important;
	margin-left: 10px;
}

.notify-msg {
	border-bottom: 1px dashed #ddd;
	position: relative;
	/* background: #f4f4f7; */
}

.notify-msg img {
	width: 50px;
}

.notify-msg p {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.small-box {
	border-radius: 4px;
	display: flex;
	height: 120px;
	margin-top: 5px;
	padding: 5px;
	align-items: center;
}

.small-box h1 {
	color: #fff;
	display: inline-block;
	font-size: 34px;
	font-weight: 300;
	margin-top: 10px;
	text-transform: uppercase;
}

.small-box h2 {
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

.sub-box {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	bottom: 3px;
	color: #fff;
	display: flex;
	font-size: 12px;
	padding: 4px 6px;
	position: absolute;
	right: 3px;
	text-transform: uppercase;
}

.left {
	padding: 0 10px 0 15px;
}

.green {
	background: -moz-linear-gradient(to bottom, #004482 0, #19d0de 99%);
	/* ff3.6+ */
	background: -webkit-linear-gradient(to bottom, #004482 0, #19d0de 99%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(to bottom, #004482 0, #19d0de 99%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(to bottom, #004482 0, #19d0de 99%);
	/* ie10+ */
	background: linear-gradient(to bottom, #004482 0, #19d0de 99%);
	/* w3c */
}

.small-box h4 i {
	color: #fff;
	font-size: 105px;
	opacity: .2;
	position: absolute;
	right: 8px;
	top: 5px;
}

.fb-bg {
	background-color: #004482;
	padding: 10px 15px;
	border-radius: 50%;
	color: #fff !important;
	margin: 0px 3px;
	cursor: pointer;
	font-size: 16px;
}


/* .fb-bg:hover {
	background-color: #4568b3
	} */

.google-bg {
	background-color: #dd4e40;
	padding: 10px 15px;
	border-radius: 50%;
	color: #fff !important;
	margin: 0px 3px;
	cursor: pointer;
	font-size: 16px;
}


/* .google-bg:hover{
	background-color: #3a77db;
	} */


.content-box{}
.content-box .heading hr{
    background: #22bdc5;
}
.content-box .heading h1 span{ color: #004482; }

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

.overlay-sec {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);
}


/** Server status css **/

.server-status {
	top: 85%;
	right: 2%;
	position: absolute;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.server-status::before,
.server-status::after {
	left: 0;
	top: 50%;
	margin-left: -1px;
	margin-top: -6px;
	position: absolute;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #2ECC71;
}

.server-status[type="up"],
.server-status[type="up"]::before,
.server-status[type="up"]::after {
	background: #2ECC71;
}

.server-status::before {
	content: "";
	animation: bounce 1.5s infinite;
}

.server-status::after {
	content: "";
	animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		-webkit-transform: scale(2);
		opacity: 0;
	}
}

@-webkit-keyframes bounce {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		-webkit-transform: scale(2);
		opacity: 0;
	}
}


/** Server status css  Ends**/


/*  Location Section */

.location-section {
	align-items: center;
	margin-left: 30px;
	margin-top: 20px;
	max-width: 300px;
	height: 30px;
	cursor: pointer;
	margin-bottom: -1px;
	padding-right: 10px;
	float: right;
}

.location-title,
.location-section {
	position: relative
}

.location-title {
	font-weight: 700;
	color: #3d4152;
	float: left
}

._34oCb {
	text-transform: uppercase
}

.landmark {
	display: block;
	min-width: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.location-title:after {
	content: "";
	position: absolute;
	height: 2px;
	left: 0;
	bottom: -5px;
	width: 100%;
	background: #3d4152
}

.location-section:hover .location-title {
	color: #004482
}

.location-section:hover .location-title:after {
	background: #004482
}

.location-section:hover .city {
	color: #93959f
}

.city {
	display: block;
	padding-left: 5px;
	margin-left: 5px;
	color: #686b78;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.arrow-icon {
	position: absolute;
	right: -12px;
	top: 40%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: .9rem;
	color: #004482;
	font-weight: 700
}


/*  Location Section */


/*  Icons */

.icon {
	display: inline-block;
}

.icon-medium {
	font-size: 4.2rem;
}

.link-arrow {
	display: inline-block;
	color: #004482;
	line-height: 1!important;
	font-weight: 600;
	cursor: pointer;
}

.link-arrow-2 {
	display: inline-block;
	font-size: 1.14rem;
	color: #999999;
	font-weight: 400;
}

.link-arrow .icon,
.link-arrow-2 .icon {
	position: relative;
	margin-left: 0.7rem;
	font-size: 2.1em;
	vertical-align: middle;
	-webkit-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}

.link-arrow .icon {
	top: 0.1rem;
}

.link-arrow .ion-ios-arrow-right {
	font-size: 1.5em;
}

.link-arrow-2 .ion-ios-arrow-right {
	font-size: 1.5em;
}

.link-arrow:hover,
.link-arrow-2:hover {
	color: #C69B50;
	text-decoration: none;
}

.link-arrow:hover .icon,
.link-arrow-2:hover .icon {
	-webkit-transform: translateX(0.5rem);
	-o-transform: translateX(0.5rem);
	transform: translateX(0.5rem);
}

.spacing-bottom {
	padding-bottom: 8rem;
}

.section-divider {
	border-bottom: 1px solid #e7eaee;
}

.sec1 small {
	font-size: 14px;
	font-weight: 200;
}

.sec1 i {
	font-size: 16px;
	font-weight: 200;
}

.top-section {
	color: #2c2e30;
	padding-top: 250px;
	/* background: #f6f6f7; */
	padding-bottom: 130px;
	position: relative;
}

.hero__block5-mobile {
	width: 27.5rem;
	height: 27.5rem;
	border-radius: 100%;
}

.pos-abs-top {
	position: absolute !important;
	top: 0;
	right: auto;
	bottom: auto;
	left: auto;
}


/* Navbar Section Starts */

.topnav {
    height: 75px;
    width: 100%;
    z-index: 2;
    position: fixed;
    padding: 5px 0px;
    /* margin-bottom: 100px; */
    background: #fff;
    color: #2c2d3a;
    z-index: 104;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 15px 1px rgb(81 77 92 / 8%);
    
}

.topnav .logo img {max-width: 100%;height: 60px;}

#toggle-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	z-index: 2;
	height: 210vh;
	background-color: rgba(0, 0, 0, .25);
}

.side-toggle {
	height: 100%;
	width: 390px;
	position: fixed;
	z-index: 11;
	top: 0;
	right: -640px;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
	transition: all .3s ease;
	box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
}

.side-toggle .closebtn {
	cursor: pointer;
	background: 0 0;
	border: none !important;
	-webkit-appearance: none;
	left: 86%;
	position: relative;
	top: 1%;
	background-color: #194680f;
	opacity: 1;
	padding: 0px 15px;
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	display: block;
	width: 11%;
	border-radius: 4px;
	background-color: #194680 !important;
}

.side-toggle .closebtn:hover {
	text-decoration: none;
}

.side-toggle .ongoing-list li div {
	padding: 5px;
	margin: 10px;
	border-radius: 4px;

}

.slider-heading {
	position: fixed;
	right: -80px;
	top: 50%;
	margin-left: -10px;
	transform: rotate(270deg);
	background: #004482;
	border-radius: 4px 4px 0px 0px;
	box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 10px 10px 50px 10px;
	color: #fff;
	cursor: pointer;
	transition: all .3s ease;
	z-index: 9;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	background-color: #fafafa;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
	transition: all .3s ease;
	box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
}

.sidenav a {
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	margin: 0px 10px;
	font-size: 25px;
	color: #7e8085;
	display: block;
	transition: 0.3s;
	cursor: pointer;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	border: none;
}

#sidebar {
	min-width: 295px;
	max-width: 295px;
	background: #fff;
	color: #fff;
	transition: all 0.3s;
	height: 100%;
}

#sidebarCollapse {
	width: 50px;
	height: 30px;
	cursor: pointer;
	margin: 12px 10px 30px 0px;
	transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.1s;
	/* transform: rotate(90deg); */
	display: none;
}

#sidebarCollapse.active span {
	transform: none;
	opacity: 1;
	margin: 10px auto;
}

#sidebarCollapse span {
	width: 70%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #194680;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.1s;
}

.nav-collapse ul {
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style: none;
}

.nav-collapse li {
	width: 100%;
	display: flex;
	margin: 0px 20px;
	align-items: center;
	cursor: pointer;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	#sidebarCollapse {
		display: block;
	}
	.menu {
		display: none;
	}
	.topnav .container {
		padding: 0px !important;
		margin: 0 auto!important;
	}
}

@media (max-width: 992px) {
	#sidebarCollapse {
		display: block;
	}
	.menu {
		display: none;
	}
	.topnav {
		padding: 0px !important;
	}
}


/* Navbar Section Ends */

header .nav-link {
	color: #7E8998;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: 1.1px;
	margin: 0 20px;
	text-decoration: none;
	transition: all .3s ease-in-out;
	padding: 0;
	font-weight: bold;
}

header .menu-item ::after {
	content: "";
	width: 0;
	height: 1px;
	bottom: 0;
	position: absolute;
	left: auto;
	right: 0;
	z-index: -1;
	-webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
	transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
	background: #004482;
}

header a {
	color: #7e8085;
	color: #424242;
    font-size: 16px;
	font-family: 'captura-regular' !important;;
}

header a:hover {
	/* background: #2739c1; */
	color: #194680;
	border-radius: 4px;
	text-decoration: none !important;
}

header a:focus {
	outline: none;
}

.h-100 {
	height: 100%;
}

.section h1 {
	font-size: 46px;
}

.banner-heading {
	font-size: 66px;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 1.25;
	color: #2c2e30;
}

.banner-content {
	display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 75px;
}

.banner-content h1:before {
	background-color: #004482;
	border-radius: 0.25rem;
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	margin-bottom: 1rem;
}

.banner-content p {
	font-size: 35px;
	line-height: 1.75;
	letter-spacing: 1.1px;
	color: #575962;
}

.banner-content button {
	padding: 10px 0px;
	transition: all .5s;
	display: inline-block;
}


/* About-Section */

#about {
	/* float: left; */
	/* width: 100%; */
	padding: 70px 0px 70px 0px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.background-holder {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100%;
}

.top-section .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( 135deg, #81FBB8 10%, #194680 100%);
	/* z-index: -99; */
	opacity: .9;
}

.top-section .bgimg {
	position: absolute;
	bottom: -1%;
	width: 100%;
}

.shape1 {
display: none;
}

.top-section .shape2 {
	display: none;
}

.banner-section .banner-heading {
	color: #fff;
}

.banner-section .banner-content h1:before {
	background-color: transparent;
}

.banner-section .banner-content p {
    color: #fff;
    margin-top: 0px !important;
    line-height: 1;
}
#about .heading hr {
	height: 5px;
	border: none;
	background: #194680;
	width: 50px;
	margin: 20px 0px 10px 10px;
}

#about .heading p {
    color: #7e8085 !important;
    font-size: 19px;
    line-height: 1.5;
    max-width: 90%;
}
#about .title h3 {
	/* color: #004482; */
	font-size: 40px;
	font-weight: 400;
	text-transform: capitalize;
	color: #444444;
	position: relative;
	margin-bottom: 30px;
}

.title hr {
	height: 3px;
	border: none;
	background: #004482;
	width: 50px;
	margin: 20px 0px 30px 235px;
}

#about .description {
	font-size: 18px;
	line-height: 25px;
	color: #444444;
	letter-spacing: 1.1px;
}

/** Tab section starts **/
#about .nav {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
	border-radius: 4px;
}
.services-list .nav-tabs .nav-link {
    border: none;
    box-shadow: none;
    background:#0767b2;
    padding: 10px;
    transition: none;
    border-radius: 15px;
    font-family: 'captura-regular', sans-serif !important;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-align: center;
    color: #fff;
}
/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-bottom: 2px solid #02bcc5;
} */
#about .nav-tabs .nav-item {
	position: relative;
	width: 25%;
	text-align: center;
	border-radius: 4px;
	margin-right: 5px;
}
#about .nav-tabs .nav-link.active {
	background: #194680 ;
	color: #fff !important;
	padding: 10px;
	border: none;
	margin: 0 auto;
	transition: none;
}
#about .nav-tabs .nav-link.active::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: #194680 ;
	content: '';
	pointer-events: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
	border: none;
	transition: none;
}
.services-list .nav-tabs>li>a img {
    max-width: 100%;
    margin-right: 13px;
    vertical-align: middle;
}
 .services-list .service-item {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


/* Services-Section */

#services {
	float: left;
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding: 80px 0 50px;
	background: url(../img/bgimg2.jpg) no-repeat center center;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
}

#services .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( 135deg, #81FBB8 10%, #194680 100%);
	/* z-index: -99; */
	opacity: .9;
}

#services::before {
	content: '';
	transform: inherit;
	width: 100%;
	height: 8%;
	background: url(../images/common/svg/hq-wave.1.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: -1px;
	z-index: 1;
	right: 0;
}

#services .container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 0.5); */
}

#services .title h3 {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
}

#services .title hr {
	margin: 20px 0px 10px 75px;
}

.services-info {
	background: #fff;
	border-radius: 10px;
}

.services-info .img-container {
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
}

.img-container img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.services-info:hover img {
	transition: opacity 0.2s 0.2s linear, transform 1s 0.2s linear;
	transform: scale(1.1);
}

.img-container h3 {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}

button:hover {
	/* transform: scale(1.1); */
	transition: 0.3s linear;
}


/* .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
} */


/* .owl-nav button {
    display: inline-block;
    opacity:1;
    background: #364bea !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    margin: 0px 20px;
    margin-right: 5px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f060";
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #fff;
}
.owl-next:before{
    content: "\f061";
    color: #fff;
}

.owl-nav span {
    display: none;
} */

.bg-fill-primary {
	fill: #364BEA;
}

.pos-abs-top-right {
	position: absolute !important;
	top: 100px;
	right: 0;
	bottom: auto;
	left: auto;
}
.about-area-content.mb-50 p {
    font-size: 28px;
}
    .section-padding-100-50 {
    padding-top: 0px;
    padding-bottom: 50px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.mb-50 {
    margin-bottom: 50px;
}
.about-area-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}
.about-area-content h6 {
    font-size: 18px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-30 {
    margin-top: 30px;
}
.about-thumb.welcome-thumb img {
    width: 100%;
}
h1.text-center.custom-title-center span.txt-green {
    display: block;
    width: 100%;
    text-align: center;
}

section.about-sec-2 p {
    font-size: 24px;
    text-transform: capitalize !important;
    margin-bottom: 50px;
}
.about-area-content .heading h1 {
    z-index: 1;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.02em;
    line-height: 91.2px;
    color: #424242;
    text-transform: capitalize;
}
.about-area-content.mb-50 h1.text-center {
    display: block;
    width: 100%;
    text-align: left !important;
}
.jump-anim {
	animation-name: fetureanimate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: fetureanimate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: fetureanimate;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: fetureanimate;
	-ms-animation-duration: 3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: fetureanimate;
	-o-animation-duration: 3s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear
}

@keyframes fetureanimate {
	0%,
	100% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px)
	}
	50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}
}


/* Feautres */

#feautres {
	display: flex;
	width: 100%;
	padding: 50px 0px 100px 0px;
	position: relative;
	background-color: #fafafa;
}

.dis-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5rem;
	margin-top: 3rem;
}
@media screen and (min-width: 521px) and (max-width: 768px) {
	.dis-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin: 0 20px;
	}
}
@media screen and (max-width: 520px) {
	.dis-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	}
	}
.item-feature {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #fff;
    box-shadow: 0px 5px 9px rgb(0 0 0 / 75%);
}
section#features {
    padding-bottom: 80px;
}
.item-feature h4 {
    margin: 10px 0px;
    font-family: 'Brandon', sans-serif !important;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 50.82px;
    text-align: center;
    color: #194680;
}
.item-feature .icon {
	width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
	line-height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.item-feature .icon .animation_round{
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:none;
    top: 0;
    left: 0;
}
@-webkit-keyframes rotateEffect{
    from{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes rotateEffect{
    from{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.feature_box1-icon {
	height: 90px;
}

#feautres::before {
	content: '';
	width: 100%;
	height: 100px;
	background: url(../images/common/svg/hq-wave.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: -4%;
	z-index: 1;
	right: 0;
	transform: rotate(180deg);
}
/* 
#feautres .heading hr {
	height: 5px;
	border: none;
	background: #194680;
	width: 50px;
	margin: 20px 0px 10px 10px;
	z-index: 1;
} */

#feautres p {
	color: #7E8998;
	font-size: 16px;
	line-height: 25px;
	margin: 0;
	text-align: center;
}

#feautres .row b {
	font-size: 18px;
	display: inline-block;
	color: #2c2e30;
}

#feautres .row img {
	box-shadow: 0 32px 54px rgba(62, 106, 161, 0.11);
	width: 100%;
}

.appworks::after {
	content: '';
	position: absolute !important;
	top: 220px;
	left: 370px;
	bottom: auto;
	right: auto;
	background: url(../img/svg/triangle.svg) no-repeat center center;
	height: 2.5rem;
	width: 2.5rem;
}

.services-flow::after {
	content: '';
	position: absolute !important;
	top: 250px;
	left: 370px;
	bottom: auto;
	right: auto;
	background: url(../img/svg/triangle.svg) no-repeat center center;
	height: 2.5rem;
	width: 2.5rem;
}

.appworks::before {
	content: '';
	position: absolute !important;
	top: -22px;
	left: auto;
	bottom: auto;
	right: 210px;
	background: url(../img/svg/dots-pattern-1.svg) no-repeat top left;
	height: 100%;
	width: 50%;
	/* display: none; */
}


/* Carousel CSS Starts */

.special-container {
	cursor: move;
	position: relative;
	display: block;
	margin: 0;
	top: -10px;
	padding: 0;
	width: 100%;
}

.special-container h1,
.special-container h2,
.special-container h3,
.special-container h4,
.special-container h5 {
	color: white;
}

.special-container .banner {
	height: 750px;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.special-container .sub-round-we-go {
	position: absolute;
	top: 7rem;
	right: 4rem;
	width: 40%;
	max-width: 700px;
	min-width: 320px;
	height: 450px;
	padding: 3rem 2rem;
	background: rgba(0, 0, 0, 0.5);
}

.special-container .sub-round-we-go .small-one {
	position: relative;
}

.special-container .sub-round-we-go .slick-dots {
	text-align: left;
}

.special-container .sub-round-we-go .slick-dots li button {
	background: transparent;
	border-radius: 100%;
	border: 4px solid rgba(255, 255, 255, 0.3);
	transition: 400ms transform linear;
	transform: scale(0.8);
}

.special-container .sub-round-we-go .slick-dots li button:before {
	display: none;
}

.special-container .sub-round-we-go .slick-dots li.slick-active button {
	transform: scale(1);
	border: 4px solid white;
}

.special-container .sub-round-we-go .piece {
	padding: 1rem;
	color: white;
	cursor: move;
}

.special-container .sub-round-we-go .piece p {
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.75;
}

.special-container .sub-round-we-go .piece:focus {
	outline: initial;
}
#demo .dis-column p {
    font-family: 'Brandon', sans-serif !important;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    color: #fff;
}
.dis-column h5.txt-white {
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 0.02em;
    /* line-height: 50.82px; */
    text-align: Center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}
.app-links a.big-btn {
    border: 4px solid white !important;
    border-radius: 10px !important;
    padding: 20px 20px !important;
    width: 230px !important;
}
.app-links {
    width: 60%;
    margin-right: 2rem;
    text-align: center;
}
.faq-page-title h1 {
    color: #194680;
}
.faq-page-title p strong {
    font-weight: bold;
}
h1.med-head {
    text-align: center;
}
.faq-page-title li {
    list-style: disc;
    margin-bottom: 10px;
}
.faq-page-title ul{
	padding-left: 30px;
}
.faq-page-title h3 {
    font-size: 22px;
    font-weight: bold;
}


/* Carousel CSS Ends */


/* CUSTOMER SECTION */

#demo {
    width: 100%;
    padding: 120px 0px 70px 0px;
    position: relative;
    background: url(../images/common/22.jpg) no-repeat center center;
    position: relative;
    background-attachment: inherit;
    background-size: cover;
}



#demo .heading hr {
	height: 5px;
	border: none;
	background: #fff;
	width: 50px;
	margin: 20px 0px 10px 0px;
	z-index: 1;
}

#demo .app-links img {
    margin-right: 10px;
    width: 50px;
    height: auto;
}


/*===== Radio Box =====*/

.radio-box [type="radio"]:checked,
.radio-box [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.radio-box [type="radio"]:checked+label,
.radio-box [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	color: #7e8085;
	font-weight: 600;
}

.radio-box [type="radio"]:checked+label:before,
.radio-box [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 14px;
	height: 14px;
	border: 1px solid #d0d0d0;
	background: #fff;
	border-radius: 50%;
}

.radio-box [type="radio"]:checked+label:after,
.radio-box [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 8px;
	height: 8px;
	background: #004482;
	position: absolute;
	top: 6px;
	left: 3px;
	border-radius: 50%;
}

.radio-box [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.radio-box [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	transition: .28s ease;
}


/* Start App Section CSS Styles */

.app-screen {
    position: relative;
    padding-top: 16px;
}
.mobile-mockup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.mobile-mockup img {
    width: 400px;
}

.app-section {
	width: 100%;
	display: flex;
	background: #fff;
	position: relative;
}

#footer h5.txt-green {
    font-weight: normal;
    font-size: 35px;
    line-height: 55.2px;
    text-align: left;
    color: #FFFFFF !important;
}

#footer p.m-0 {
    font-weight: normal;
    font-size: 20px;
    line-height: 45.6px;
    text-align: left;
    color: #FFFFFF !important;
}

#footer .space {
	background-color: #0d4066;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Screen Shots
*********************************************/
/* Screen Shots Style1 */
.app-screen {
	position: relative;
	padding-top: 16px;
	margin-top: 50px;
  }
  
  .screenShots {
		padding: 50px 0px 50px;
		margin-bottom: 50px;
		position: relative;
  }
  .screenShots .swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
  .screenShots .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 250px;
  }
  
  /* Screen Shots Style2 */
  .screenShots__style-2 {
	background: #F9F9F9;
  }
  .screenShots__style-2 .screenshots-slider-container__2 {
	width: 250px;
	margin: auto;
  }
  .screenShots__style-2 .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 250px;
  }
  .custom_slider_arrows {
    text-align: center;
}
.custom_slider_arrows .appsLand-btn {
    width: 60px;
    height: 60px;
    padding: 0;
    line-height: 45px;
    border: 0;
    font-size: 40px;
    text-align: center;
    background-color: #194680;
    cursor: pointer;
    color: #fff;
    border-radius: 1000px;
}
.appsLand-btn:focus {
	outline: none;
}
.custom_slider_arrows li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
  /*  mobile mockup */
  .mobile-mockup {
    position: absolute;
    width: 16%;
    height: 81%;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    margin: auto;
}
	.swiper-slide img{
		max-width: 100%;
		margin-left: 1.2rem;
	}
  .mobile-mockup img {
	width: 285px;
  }
  .mobile-mockup img {
    width: 285px;
    position: relative;
    z-index: 0;
}
  
  /*  slider arrows */
  .custom_slider_arrows {
	text-align: center;
  }
  .custom_slider_arrows ul {
	margin-top: 90px;
  }


.app-section .app-info p {
	font-size: 15px;
	line-height: 24px;
	color: #7e8085;
	font-weight: 400;
	margin: 20px 0 20px;
}

.app-info .app-links {
	/* margin-top:35px; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	height: 60px;
}

.app-info .app-links a {
	display: inline-block;
	margin: 0 8px 15px 0;
}

.app-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.app-info ul li {
	color: #7e8085;
	line-height: 35px;
	font-size: 16px;
}

.app-info ul li i {
	margin-right: 10px;
	color: #004482;
}

.app-banner-wrap img {
	width: 80%;
}


/* End App Section CSS Styles */

.bg-dots {
	background: url(../img/dots2.png) 0 0 repeat !important;
}


/** Footer section starts **/

.footer {
	/*! position: fixed; */
	/*! bottom: 0; */
	width: 100%;
	padding: 20px 0px 10px 0px;
	display: flex;
	background: #fff;
	box-shadow: -2px -8px 41px -14px rgba(202, 210, 222, 0.61);
	z-index: 11;
}

#footer {
	box-shadow: none;
	background: #fafafa;
}

#footer input,
select {
	margin-bottom: 20px !important;
	background: none;
	border: none;
	border-bottom: 1px solid #ced4da;
	font-size: 14px;
	/* padding: 12px 0px !important; */
	height: auto;
	box-shadow: none;
	font-weight: 400;
	resize: none;
	color: #7e8085;
	width: 100%;
	border-radius: 0px 0px 0px 0px !important;
}

input,
select:focus {
	outline: none;
}

.footer-widget ul {
	margin-top: 10px;
}

.footer-widget li {
    padding: 10px 0px;
    font-weight: normal;
    font-size: 20px;
    line-height: 45.6px;
    text-align: left;
    color: #424242;
}
#footer{
background: url(../images/common/footer-bg.png) no-repeat center center
}

.footer-widget li a {
	color: #FFFFFF;
}

.footer .fsocial-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .fsocial-links li {
	display: inline-block;
}
.banner-2 {
    padding: 175px 0 180px;
}
.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.search-form {
    position: relative;
    background: #e7e9fa;
    padding: 10px 15px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ccc8e1;
}
.search-form button {
    position: absolute;
    right: 15px;
    top: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    width: 50px;
    font-size: 18px;
    border: none;
    background: #194680;
    color: #ffffff;
}
.search-form button i {
    margin-right: 10px;
}
.d-sm-inline-block {
    display: inline-block!important;
}
section.banner-2.bg_img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 75px;
}

.search-form input {
    background: transparent;
    border: none;
    height: 50px;
    padding: 0;
    padding-right: 65px;
    font-size: 16px;
    width: 100%;
}
.search-form button {
    width: auto;
    padding: 0 35px;
    top: 15px;
    right: 40px;
}

.search-form.round button {
    right: 15px;
}

.search-form input {
    padding-right: 180px !important;
    font-size: 18px;
    padding-left: 0px !important;
}

.banner-content-2 {
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
}
.banner-content-2 .title {
    font-size: 55px;
    line-height: 90px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
}
.cl-white {
    color: #ffffff;
}
.banner-content-2 p {
    font-size: 24px;
    margin-bottom: 38px;
}
.search-form.round {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.search-form {
    padding: 15px 40px;
}
section.faq-common {
    margin-top: 100px;
    position: relative;
    top: 40vh;
}
section.faq-common h1.med-head {
    margin-bottom: 40px;
}
section.faq-common h4 {
    font-weight: bold;
    font-size: 30px;
}

section.faq-common .faq-list p {
    font-size: 28px;
}
.faq-list {
    margin-bottom: 30px;
}

.footer .fsocial-links li a {
	display: block;
	margin-right: 9px;
	color: #fff !important;
	width: 40px;
	height: 40px;
	line-height: 37px;
	border-radius: 4px;
	background: #194680;
	text-align: center;
	box-shadow: 0px 0px 15px 1px rgba(81, 77, 92, 0.2);
}


/* .footer .fsocial-links li a:hover {
	background-color: #c47d00;
} */

.footer .copyright_text p {
	/* color: #004482 !important; */
	margin: 0;
	line-height: 26px;
	font-size: 14px;
}


/** Footer section ends **/
.contact-sec {
    padding: 50px 0px 50px;
    margin-bottom: 50px;
    position: relative;
}
.contact-form {
    /* width: 900px; */
    margin: 30px auto 70px auto;
    /* padding: 30px 30px; */
    /* background: #fafafa; */
    /* border: 1px solid #f5f5f5; */
    /* box-shadow: 0 0 0 4px #fff, 0 0 0 5px #eee, 0px 15px 15px -16px black; */
}
.content-box .contact-form {
    margin-bottom: 0;
}
img#image_preview_container {
    max-width: 120px;
    max-height: 120px;
}
.contact-form .form-group {}
.contact-form label.col-form-label {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.contact-form .form-control {
    font-size: 14px;
    /* border: 1px solid #e8e8e8; */
    border: 1px dashed #e8e8e8;
    padding: 14px 20px !important;
    height: auto;
    min-height: auto;
    border-radius: 2px !important;
}
.contact-form-footer{
}
.contact-form button.btn.btn-green {
    font-size: 14px !important;
    padding: 14px 20px !important;
}
.contact-form button.btn.btn-secondary {
    font-size: 14px !important;
    padding: 14px 20px !important;
}
.contact-form button.btn.btn-default {
    font-size: 14px !important;
    padding: 14px 20px !important;
}
.input-file + .js-labelFile .icon {
    /* margin-right: 5px; */
}
.input-file + .js-labelFile:hover .icon {
    transform: none;
    transition: none;
}

/* enquiry page start */
.selectField {
	position: relative;
}
.selectField select.form-control {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	padding-right: 50px !important;
}
.selectField:after {
	content: "\f107";
	width: 20px;
	height: 20px;
	/* background: #f00; */
	position: absolute;
	right: 15px;
	top: 15px;
	/* transform: translateY(-50%); */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'FontAwesome';
	font-size: 20px;
}

.ticketContent{
	/* background: #f5f5f5; */
	min-height: 100px;
	margin-top: 20px;
}

.ticketMenu {
    margin-top: 10px;
}

.ticketMenu ul {
    align-items: center;
    grid-gap: 30px;
}

.ticketMenu ul li.createBtn {
    float: right;
}

.ticketMenu ul li {
    display: inline-block;
}

.ticketMenu ul li + li {
    margin-left: 10px;
}

.ticketMenu ul:after {
    clear: both;
    content: "";
    display: block;
}

.ticketMenu ul li a {
    padding: 10px 10px;
    display: inline-block;
    color: #000;
}

.ticketMenu ul li a.active {
    font-weight: bold;
}

/* enquiry page end */

/* ticket chat page start */
h4.ticketTitle {
    margin-bottom: 10px;
}
.supportChatContent{
	min-height: 650px;
}
.ch-commentBox .contact-form {
    width: auto;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}
.chatContentLeft{

}
.chatContentRight{

}

.userInfo {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.userInfo span.ui-icon {
    width: 48px;
}

.userInfo .ui-name {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
.chatDate {
    text-align: right;
    margin: 14px 0 0;
    font-size: 13px;
    color: #a7a7a7;
}
.ch-message {
    padding: 20px;
}

.ch-head {
    margin-bottom: 20px;
}
.ch-message-box{
	padding: 30px 30px;
}
.ch-message-box + .ch-message-box{
	margin-top: 15px;
}
.ch-content{}
.ch-content p{
	font-size: 14px;
	margin: 0;
}
.ch-content pre{}
.ch-content pre code{
	font-size: 14px;
	margin: 0;
	font-family: 'Brandon', sans-serif !important;	
}
.userInfo span.ui-icon img.img-fluid {
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
}
.ch-content + .attachment {
    margin-top: 20px;
}
.ch-message-box.adminMsg {
    background: #f0f0f0;
}
.ch-message-box.userMsg {}
.ch-message-box.userMsg + .ch-message-box.userMsg {
    border-top: 1px solid #f0f0f0;
}
.ch-body{}
.ch-body .attachment{}
.ch-body .attachment a{ color: #7e8085; }
.ch-body .attachment span {
    display: inline-block;
    word-break: break-word;
}

.ticketStatus {}
.ticketStatus .st-tl {
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    font-size: 18px;
}

.ticketStatus span.current {
    background: #eee;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
}


.contact-form .form-group.has-error {}

.contact-form .form-group.has-error .form-control {
    margin-bottom: 5px !important;
    border-color: #FB5607;
}

.contact-form .form-group.has-error .form-control + .help-block {
    /* position: absolute; */
    /* bottom: -25px; */
}




/* ticket chat page end */



/*----------Media Lap Starts--------*/

@media (min-width: 1441px)  { 
	.top-section {
		padding-bottom: 400px;
	}
	.top-section {
		padding-bottom: 400px;
	}
	#feautres::before {
		height: 130px;
		top: -6%;
	}
	#demo::before {
		height: 126px;
	}
	.screenShots::after {
		height: 126px;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.dis-reverse {
		display: block !important
	}
	/* Login Section Starts*/
	.login-bg {
		background: none;
	}
	#login-form img {
		width: 100px !important;
	}
	.login-content {
		width: 50vw !important;
	}
	.nav-link {
		padding: 10px 30px;
	}
	/* Login Section Ends*/
	/* Nav Section Starts*/
	header .profile-menu {
		float: none !important;
		text-align: center;
	}
	header .dropdown-menu {
		position: absolute;
		top: 90%;
		left: -55%;
		padding: 10px 20px;
		min-width: 12rem;
	}
	/* Nav Section Ends*/
	/* Banner Section Starts*/
	.top-section {
		padding-top: 100px;
	}
	.banner-content {
		align-items: center;
	}
	.banner-heading {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		line-height: 1.25;
		font-size: 35px;
		margin-top: 30px;
	}
	/* Banner Section Ends*/
	/* Service Section Starts*/
	#services {
		padding: 10px 0 0px;
	}
	.special-container .sub-round-we-go {
		position: absolute;
		top: 3rem;
		right: 15rem;
		height: 620px;
	}
	.slick-dots {
		display: none !important;
	}
	#services::before {
		height: 7%;
		background-size: contain;
		top: -34px;
		/* display: none; */
	}
	.special-container .sub-round-we-go .piece {
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	/* Service Section Ends*/
	/* Workflow Section Starts */
	#feautres {
		padding: 50px 0px 50px 0px;
	}
	#feautres::before {
		top: -7.5%;
		background-size: 110%;
		top: -86px;
	}
	.appworks::before {
		top: -9%;
		right: 30%;
	}
	.appworks::after {
		top: 68%;
		left: 71%;
	}
	.app-banner-wrap img {
		width: 50%;
	}
	.services-flow::after {
		top: 71%;
		left: 71%;
	}
	#feautres .row img {
		width: 50%;
		margin-bottom: 60px;
	}
	.spacing-bottom {
		padding-bottom: 6rem;
	}
	/* Workflow Section Ends */
	/* Benefits Section Starts */
	#demo {
		padding: 50px 0px 50px 0px;
	}
	#demo .dis-row {
		flex-direction: column;
	}
	#demo::before {
		top: -14px;
		background-size: 110%;
	}
	#demo .row {
		text-align: center;
	}
	#demo .dis-ver-center {
		justify-content: center;
	}
	#demo .heading hr {
		margin: 50px 0px 10px -50px;
	}
	#demo .appworks img {
		width: 60%;
	}
	#demo .appworks {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#demo .appworks::before {
		top: -7%;
		right: 32%;
	}
	#demo .appworks::after {
		top: 92%;
		left: 76%;
	}
	#demo .services-flow::after {
		top: 87%;
		left: 89%;
	}
	.app-section::after {
		bottom: -3%;
		background-size: 110%;
	}
	.screenShots::after {
		height: 70px;
	}
	
	#footer img {
		width: 20% !important;
		margin-bottom: 20px;
	}
	#footer .space {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	/* Map Section Starts */
	/* Landing Section Starts */
	.dash-banner .dash-section {
		padding: 70px 0px 70px;
		margin-top: 55px;
	}
	.dash-banner .dash-section
	/* Testimonial Section Starts */
	#demos-testimonials .item {
		padding: 0;
	}
	.testimonial-name {
		width: 80%;
		padding: 15px 15px;
	}
	/* Testimonial Section Starts */
	/* Landing Section Ends */
}


/*----------Media Lap Ends--------*/


/*----------Media Mobile Ends--------*/

@media (min-width:320px) and (max-width: 767px) {
	.heading h1 {
		font-size: 2rem;
		line-height: 1.75;
		font-weight: bold;
		font-family: 'Brandon', sans-serif !important;
	}
	.btn {
		display: block !important;
		width: 100%;
	}
	/* Login Section Starts*/
	.login-bg {
		background: none;
	}
	.dis-reverse {
		display: block !important;
	}
	.big-btn {
		/* width: 160px !important; */
		width:175px !important;
	}
	.topnav .logo img {
	    max-width: 100%;
	    height: 30px;
	}
	header .menu-item {
	    padding: 0px 0px;
	    margin: 2px;
	}
	.login-section,
	.sign-in-section,
	#password-change {
		/*display: block !important;*/
	}
	#login,
	#sign-up {
		padding-top: 50px;
	}
	#login-form img {
		width: 100px !important;
		margin-bottom: 20px;
	}
	.login-content {
		width: 90%!important;
		top: 7vh !important;
		padding: 10px !important;
	}
	#password-change img {
		width: 100% !important;
		margin-bottom: 20px;
	}
	.nav-link {
		padding: 10px 30px;
	}
	/* Login Section Ends*/
	/* Password Change Section Starts*/
	.logo-section {
		justify-content: center;
	}
	/* Password Change Section Ends*/
	/* Banner Section Starts*/
	.hero__block5-mobile {
		width: 18rem;
		height: 18rem;
	}
	.top-section {
		padding: 100px 0px 50px;
	}
	.banner-content {
		align-items: center;
	}
	.banner-section .btn-secondary {
		width: 70%;
	}
	#about {
		padding: 50px 0px;
	}
	#about .nav-tabs .nav-item {
		width: 100% !important;
	}
	#about .nav-tabs .nav-item {
		width: 33%;
	}
	.banner-heading {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 34px;
		margin-top: 30px;
		text-align: center;
		position: relative;
	}
	.banner-heading span {
		position: absolute;
		top: 20px;
	}
	.banner-section .banner-content p {
		text-align: center;
	}
	/* Banner Section Ends*/
	/* Service Section Starts*/
	#services {
		padding: 10px 0 0px;
	}
	.special-container .sub-round-we-go {
		position: absolute;
		top: 9%;
		right: 7%;
		height: 620px;
	}
	.slick-dots {
		display: none !important;
	}
	#services::before {
		/* height: 5%;
			background-size: contain;
			top: -1.5%;
			left: 0px; */
		display: none;
	}
	.special-container .sub-round-we-go .piece {
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	/* Service Section Ends*/
	/* Workflow Section Starts */
	#feautres {
		padding: 50px 0px 50px 0px;
	}
	#feautres .dis-center {
		padding: 0;
	}
	#feautres::before {
		/* height: 4%;
			top: -4.0%;
			background-size: contain; */
		display: none;
	}
	#feautres .row b {
		font-size: 1.5rem;
	}
	#feautres p {
		color: #7e8085;
		font-size: 16px;
		line-height: 1.75;
		margin: 0 !important;
		text-align: center;
	}
	.row {
		margin: 0;
	}
.feate_img img{
		margin: auto ;
	}
	.media_feat {
		margin-top: 5rem !important;
	}
	.media_feat h1{
		font-family: 'Captura-black', sans-serif !important;

	}
	#feautres .appworks::before {
		display: none;
	}
	#feautres .appworks::after {
		display: none;
	}
	#feautres .services-flow::after {
		display: none;
	}
	#feautres .row img {
		width: 100%;
		margin-bottom: 40px;
		margin-top: 50px;
	}
	.spacing-bottom {
		padding-bottom: 5rem;
	}
	/* Feautres Section Ends */
	/* Benefits Section Starts */
	#demo {
		padding: 0px 0px 20px 50px;
		position: relative;
	}
	#demo::before {
		display: none;
	}
	#demo .row {
		text-align: center;
	}
	#demo .dis-row {
		display: block !important;
	}
	#demo .dis-ver-center {
		justify-content: center;
	}
	#demo .heading hr {
		margin: 50px 0px 10px 0px;
	}
	#demo .appworks {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#demo .appworks img {
		width: 100%;
	}
	#demo .appworks::before {
		display: none;
	}
	#demo .appworks::after {
		display: none;
	}
	#demo .services-flow::after {
		display: none;
	}
	.app-section {
		padding: 50px 0px;
	}
	.app-section::after {
		display: none;
	}
	/* Customer Section Ends */
	.screenShots::after {		
		display: none;
	}
	#footer::before {
		display: none;
	}
	#footer h5 {
		text-align: left;
	}
	#footer img {
		width: 50% !important;
		margin-bottom: 20px;
	}
	#footer .space {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.footer .fsocial-links {
		justify-content: center
	}
	#footer .nav .d-flex {
		display: block !important;
	}
	.footer-widget {
		margin-top: 20px;
		text-align: left;
	}
	/* Landing Section Starts */
	.dash-banner .dash-section {
		padding: 150px 0px 50px;
		height: 500px;
		margin-top: 55px;
	}
	/*----------Media Mobile Ends--------*/

.toaster {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 99999;
}
.alert-dismissible {
    padding-right: 1rem;
}

.toast .message {
    font-size: 12px;
}

.toast .close {
    background-color: transparent !important;
}

/* Steps */

.form-register .steps {
	margin: 0px 0px 30px 0px;
	padding: 20px 20px 0px;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	border: 0px dashed #ebedf2;
	background: #fff;
}

.form-register .steps ul {
	display: flex;
	display: -webkit-flex;
	list-style: none;
	padding-left: 55px;
}

.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	position: relative;
}

.form-register .steps li .current-info {
	display: none
}

.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none
}

.form-register .steps li a .title span {
	display: block;
}

.form-register .steps li a .title .step-icon {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 4px;
	background: #dedede;
	margin: 0 auto;
	position: relative;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	color: #fff;
	font-size: 25.6px;
	margin-right: 50px;
}

.form-register .steps li a .step-icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.form-register .steps li .step-icon::after {
	position: absolute;
	content: "";
	width: 50px;
	border: 1px dashed #ebedf2;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.form-register .steps li:last-child .step-icon::after {
	display: none;
}

.form-register .steps li .step-icon::after {
	left: 100%;
}

.form-register .steps li:last-child .step-icon::after {
	left: 100%
}

.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
	background-color: #004482;
}

.form-register .steps .current .step-icon::after,
.form-register .steps .current:last-child .step-icon::after,
.form-register .steps .done .step-icon::before {
	background-color: #004482;
}

.form-register .steps li a .step-text {
	color: #999;
	font-weight: 400;
	font-size: 12px;
	padding: 5px 0 0px;
	margin-left: 17px;
}

.form-register .steps .current .step-text,
.form-register .steps .done .step-text {
	color: #004482;
}
@media (min-width:320px) and (max-width: 767px)
{
	.row.dis-center 
	{
		margin-right:20%;
	}
	.fa-edit::before, .fa-pencil-square-o::before 
	{
		content: "\f044";
		right: 40px;
		top: 12px;
		/*position: relative;*/
	}
	/* .fa-check::before 
	{
		content: "\f00c";
		right: 25px;
		top: 10px;
		position: relative;
	} */
	.fa-check::before
	{
		display:none;
	}
	.font-12 
	{
		font-size: 11px !important;
	}
	.small-box h1
	{
		font-size:20px;
	}
	.sidebar.clearfix.m-b-20 
	{
		margin-top: 20px;
	}
	.sidenav a:hover 
	{
		color: #7e8085;
	}
	/*#social-login 
	{
		display: none !important;
	}*/
	.top.small-box.green.mb-2 .left 
	{
		padding: 0 10px 0 0px !important;
	}
	.sub-box
	{
		bottom:4px;
		right:8px;
	}
	.side-toggle
	{
		padding-top: 0px;
	}
	ul.ongoing-list {
		    margin: 0 auto;
    width: 90%;
	}
	.ongoing-list li
	{
		margin-left:12%;
	}
	.footer .copyright_text p
	{
		font-size: 12px;
	}
	.side-toggle 
	{
		padding-top: 50px;
		z-index:101;
	}
	.side-toggle .ongoing-list li div 
	{
		padding: 10px 10px;
		margin: 10px 15px !important;
		border-radius: 4px;
	}
	.small-box
	{
		/*height: auto;*/
	}
	.side-toggle .closebtn{
		position: relative;
		top:13%;
		left:80%;
	}
}

.validateSignForm {
	padding: 0px;
}
h1.wallet_balance {
	padding-left: 10px;
}
input#picture {
	font-size: 13px !important;
}
.dis-grid .item-feature p {
    font-family: 'Brandon', sans-serif !important;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    color: #424242;
}

/* Mobile (Landscape)
----------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
   a.btn.btn-green.go_app {
    font-size: 12px !important;
    border-radius: 5px !important;
}
.user-login-user a.btn-green-secondary {
    font-size: 12px !important;
    border-radius: 15px !important;
}
.btn-green-secondary {
    color: #194680;
    letter-spacing: 0.025em !important;
    font-size: 14px !important;
    display: inline-block !important;
    border: 1px solid #194680 !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    padding: 10px 10px !important;
    height: inherit !important;
    /* min-width: 185px; */
}
.topnav {
    height: 100px;
    }
    .banner-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: 0px;
}
.services-list .nav-tabs .nav-link {
    display: block;
    margin-bottom: 10px !important;
    font-size: 20px;
}

.row.dis-center {
    margin-right: 0px;
}
.dis-column h5.txt-white {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    line-height: 10.82px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}
.app-links a.big-btn {
    border: 4px solid white !important;
    border-radius: 10px !important;
    padding: 20px 20px !important;
    width: 300px !important;
    margin: auto;
    margin-bottom: 20px;
}
.app-links a.big-btn {
    border: 4px solid white !important;
    border-radius: 10px !important;
    padding: 20px 20px !important;
    width: 75% !important;
    margin: auto;
    margin-bottom: 20px;
    margin-right: auto !important;
}
#demo .dis-column p {
    font-family: 'Brandon', sans-serif !important;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 42px;
    text-align: center;
    color: #fff;
    padding: 0 25px !important;
}
.mobile-mockup {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    margin: auto;
}
#footer {
    background: #d8d8d8;
    height: auto;
}

}


/* Mobile (Portrait only)
----------------------------------------------------------- */

@media only screen and (max-width: 479px) {
    a.btn.btn-green.go_app {
    font-size: 12px !important;
    border-radius: 5px !important;
}
section.banner-2.bg_img {
    position: unset;
    width: 100%;
}
.banner-2 {
    padding: 75px 0 85px;
}
section.faq-common {
    margin-top: 100px;
    position: unset;
}
.search-form {
    padding: 5px 20px;
}
.search-form.round button {
    right: 5px;
}
.search-form button {
    top: 5px;
}
.about-area-content .heading h1 {
    z-index: 1;
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 0.02em;
    line-height: 58.2px;
    color: #424242;
    text-transform: capitalize;
}

.about-area-content.mb-50 p {
    font-size: 20px;
}
section.about-sec-2 p {
    font-size: 18px;
    text-transform: capitalize !important;
    margin-bottom: 50px;
}
.about-area-content.mb-50 h1.text-center {
    display: block;
    width: 100%;
    text-align: center !important;
}


.user-login-user a.btn-green-secondary {
    font-size: 12px !important;
    border-radius: 15px !important;
}
.btn-green-secondary {
    color: #194680;
    letter-spacing: 0.025em !important;
    font-size: 14px !important;
    display: inline-block !important;
    border: 1px solid #194680 !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    padding: 10px 10px !important;
    height: inherit !important;
    /* min-width: 185px; */
}
.topnav {
    height: 100px;
    }
    .banner-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: 0px;
}
.services-list .nav-tabs .nav-link {
    display: block;
    margin-bottom: 10px !important;
    font-size: 20px;
}

.row.dis-center {
    margin-right: 0px;
}
.dis-column h5.txt-white {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    line-height: 50.82px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}
.app-links a.big-btn {
    border: 4px solid white !important;
    border-radius: 10px !important;
    padding: 20px 20px !important;
    width: 300px !important;
    margin: auto;
    margin-bottom: 20px;
}
.app-links a.big-btn {
    border: 4px solid white !important;
    border-radius: 10px !important;
    padding: 20px 20px !important;
    width: 75% !important;
    margin: auto;
    margin-bottom: 20px;
    margin-right: auto !important;
}
#demo .dis-column p {
    font-family: 'Brandon', sans-serif !important;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 42px;
    text-align: center;
    color: #fff;
    padding: 0 25px !important;
}
.mobile-mockup {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    margin: auto;
}
#footer {
    background: #d8d8d8;
    height: auto;
}
#demo {
    padding: 100px 0px 20px 0px;
    position: relative;
}
#about .heading p {
    color: #7e8085;
    font-size: 25px;
    line-height: 1.5;
    max-width: 90%;
}
.services-list .service-title {
    font-family: 'Brandon', sans-serif !important;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 1.8;
    text-align: center;
    color: #424242;
}
.dis-grid .item-feature p {
    font-family: 'Brandon', sans-serif !important;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    text-align: left;
    color: #424242;
    text-align: center;
}


}

